.container {
    display: flex;
    align-items: center;
    padding-left: 42px;
    margin-bottom: 20px;
    user-select: none;
}

.label {
    position: relative;
    color: var(--colors-lavender, #858AE3);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.input + .label::before {
    position: absolute;
    left: -41px;
    display: inline-flex;
    content: "";
    width: 21px;
    height: 21px;
    border: 1px solid var(--colors-purple, #4E148C);
    justify-content: center;
    align-items: self-end;
}

.square + .label::before{
    border-radius: 4px;
}

.circle + .label::before{
    border-radius: 50%;
}

.label:hover {
    cursor: pointer;
}

.square:checked + .label::before {
    content: url("../../../../../assets/check.svg");
}

.circle:checked + .label::before {
    content: url("../../../../../assets/point.svg");
}

@media screen and (max-width: 920px) {
    .label {
        color: var(--colors-white, #F7F9F7);
    }

    .input + .label::before {
        border: 1px solid var(--colors-white, #F7F9F7);
    }
    .square:checked + .label::before {
        content: url("../../../../../assets/checkWhite.svg");
    }
    .circle:checked + .label::before {
        content: url("../../../../../assets/pointWhite.svg");
    }
}